html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:rgb(47, 43, 49);
}
    




.homelink {
    
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    font-size: 24px;
    border-radius: 15px;
}

.homelink:hover {
    font-size: 36px;
    background-color: rgb(41, 41, 41);

}

.navbar {
  background-color: black;
  outline: 1px solid red;
  position: fixed;
  top: 0;
  width: 100%;
  height: 16%;
  left: 0;
  z-index: 99;

}